.themeVars {
  --bg: #fff;
  --muted: #f3f4f6;
  --accent: #4F4739;
}

.main {
  min-height: 100vh;
  background-color: #faf1e6;
  padding: 2rem;
}

.header {
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
  text-align: center;
  border-bottom: 1px solid #e5e7eb;
}

.title {
  font-size: 1.5rem;
  font-family: "ONEMobileTitle", "ONEMobile", sans-serif;
  font-weight: 700;
  color: #4F4739;
  margin: 0 auto;
}

.filterContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  border-radius: 16px;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(120vh - 260px);
  width: 100%;
  position: relative;
  overflow: hidden;
}

.description {
  font-size: 1.125rem;
  color: #6b7280;
}